In [ ]:
temp = 35
if temp < 35:
    print('cool')
elif temp >=35 and temp<37:
    print("normal")
else:
    print('hot')

normal

In [ ]:
print('cool') if temp <35 else print('normal') if temp >=35 and temp<37 else print('hot')

normal

In [10]:
a =  0
while a < 10:
    print(a)
    a += 1
    if a == 7:
        break

0
1
2
3
4
5
6

In [12]:
a =  0
while a < 10:
    print(a)
    a += 1
    if a == 7:
        continue
    print(a)
else:
    print('end sesion')

0
1
2
3
4
5
6
7
8
9
end sesion

In [15]:
text = "Hello Python"
for x in text:
    print(x)

H
e
l
l
o

P
y
t
h
o
n

In [16]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [17]:
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

In [21]:
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

List in python

In [24]:
list1 = ['Hello', 2, True, 5.6, 8]
print(list1)
for x in list1:
    print(x)

['Hello', 2, True, 5.6, 8]
Hello
2
True
5.6
8

In [25]:
print(list1[1])
print(list1[0])
print(list1[-1])
print(list1[-2])

2
Hello
8
5.6

In [28]:
list3 = ["Apple", "Banana", "Mango", "Fruite"]
print(list3)

['Apple', 'Banana', 'Mango', 'Fruite']

In [29]:
list4 = list3
print(list4)

['Apple', 'Banana', 'Mango', 'Fruite']

In [33]:
list3 = ["Apple", "Banana", "Mango", "Fruite"]
list5 = list3
print(list3)
print(list5)
list5[0] = "Melon"
print(list3)
print(list5)

['Apple', 'Banana', 'Mango', 'Fruite']
['Apple', 'Banana', 'Mango', 'Fruite']
['Melon', 'Banana', 'Mango', 'Fruite']
['Melon', 'Banana', 'Mango', 'Fruite']

Learn about tuple

In [37]:
x=3, True, "Hello"
print(x)

a, b, c, = x
print(a)
print(b)
print(c)


print("Hello" + str(a))
print("Hello", str(a))

print("a=", a, "b=", b, "c=", c)

(3, True, 'Hello')
3
True
Hello
Hello3
Hello 3
a= 3 b= True c= Hello

In [39]:
a = 10
b = 20
print("a:", a, "b:", b)
c = a
a = b
b = c
print("a:", a, "b:", b)

a: 10 b: 20
a: 20 b: 10

In [40]:
a = 10
b = 20
print("a:", a, "b:", b)

a, b = b, a
print("a:", a, "b:", b)

a: 10 b: 20
a: 20 b: 10

In [52]:
def get_grade(eng, com, math):
    total = (eng + com + math) 
    avg = total / 3
    if avg >= 50:
        return total, avg, "Passed"
    return total, avg, "Failed"

total, average, result = get_grade(40, 20,78)
print(total, average, result)

138 46.0 Failed

Learn set

In [57]:
x = {"iphone", "google", "android", "xiaome", "google", "oppo"}
print(x)

x.add("huawia")
print(x)

x.remove("xiaome")
print(x)

x.update({"dog", "cat"})
print(x)

for element in x:
    print(element)

{'android', 'iphone', 'xiaome', 'google', 'oppo'}
{'android', 'huawia', 'iphone', 'xiaome', 'google', 'oppo'}
{'android', 'huawia', 'iphone', 'google', 'oppo'}
{'cat', 'android', 'huawia', 'iphone', 'dog', 'google', 'oppo'}
cat
android
huawia
iphone
dog
google
oppo

In [60]:
x = {"iphone", "google", "android", "xiaome", "google", "oppo"}
print(x)

y = {"hello", "bye bye","google"}
z = x.union(y)
print(z)

m = x.intersection(y)
print(m)

{'android', 'iphone', 'xiaome', 'google', 'oppo'}
{'android', 'iphone', 'bye bye', 'hello', 'xiaome', 'google', 'oppo'}
{'google'}

Learn dictionary in python

In [66]:
data = {"name":"John", "age":30, "city":"New York"}
print(data)
print("Name:",data["name"])

data["dob"] = "1999"
print(data)

data.pop("age")
print(data)

for x in data.keys():
    print(x)
for x in data.values():
    print(x)

for x, y, in data.items():
    print(x, y)

{'name': 'John', 'age': 30, 'city': 'New York'}
Name: John
{'name': 'John', 'age': 30, 'city': 'New York', 'dob': '1999'}
{'name': 'John', 'city': 'New York', 'dob': '1999'}
name
city
dob
John
New York
1999
name John
city New York
dob 1999

Learn function python

In [71]:
def sum(a=0, b=0):
    return a+b


x = sum(10, 20)
print(x)

x = sum ()
print (x)
x = sum (a=10)
print(x)
x = sum (b=20)
print (x)
x = sum(5)
print(x)

30
0
10
20
5

In [79]:
def sum(*a):
    print(a[0])
    print(a[1])
    print(a[2])

print(sum(10,20,30))

10
20
30
None

In [95]:
def calculate_score(*subjects):
    total = sum(*subjects)
    return total

total = calculate_score(10, 20, 30)
print(total)

10
20
30
None

In [98]:
def display(**a):
    print(a["eng"])
    print(a["kh"])

display(eng=70, kh=90)
print(display)

70
90
<function display at 0x10db1c680>

In [115]:
def calculate_grade(*subjects):
    total = sum(subjects)
    average = total / len(subjects)

    if average >= 50:
        result = "Passed"
    else:
        result = "Failed"

    return total, average, result

grades = calculate_grade(34, 12, 56)
print("Total Score:", grades[0])
print("Average Score:", grades[1])
print("Result:", grades[2])

(34, 12, 56)

IndexError: tuple index out of range

Learn lamda

In [116]:
x = lambda a, b: a + b
y = x
a = x(10, 20)
b = y(10, 20)
print(a,b)

30 30

In [117]:
z = (lambda a, b: a + b)(20, 30)
print(z)

50

In [129]:
numbers = [4, 5, 3, 1, 2]
newnum = filter(lambda x: x >= 3, numbers)
result_list = list(newnum)
print(result_list)

TypeError: 'list' object is not callable

In [132]:
import functools


total = functools.reduce(lambda a, b: a+b,numbers)
print("total =",total)

total = 15

In [135]:
fruits = ["Apples", "Apricot", "Banana", "Blackberry", "Blueberry", "Boysenberry", "Canary Melon"]
found = filter(lambda x: x=="Apples",fruits)
print(list(found))

TypeError: 'list' object is not callable